{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StorePro</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
  </head>
  <body>
    <div class="home-page">
      <h1>Rojitech Online Shop</h1>
      <img src="{% static 'core/logo.jpg' %}" alt="Logo" class="logo" />
    </div>
  </body>
</html>
